#content {
  width: 100%;
  height: 100%;
  text-align: center;
}
button {
  margin-top: 10px;
}
#input {
  margin-top: 5%;
}
#inputExpression {
  width: 30%;
  text-align: center;
}
#inputFile {
  margin-bottom: 10px;
  padding-left: 50px;
}